<!doctype html>
<html lang="en">

<head>
  <title>PDF template</title>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='invoice.css') }}">-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    body {
      font-family: "Times New Roman", Times, serif;
      font-size: 0.7em;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col border border-dark">
        Rēķina Nr.: <strong>{{ order['order_name'] }}</strong>
      </div>
      <div class="col border border-dark">
        Izrakstīšanas datums: <strong>{{ today }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        Uzņēmums: <strong>AUTOBOOST SIA</strong>
      </div>
      <div class="col border border-dark">
        <strong>LV40203418867</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        Adrese: <strong>Liepājas iela 5 Ludza</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        Norēķinu rekvizīti: <strong>Citadele banka</strong>
      </div>
      <div class="col border border-dark">
        <strong>LV47PARXO027844410001</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        Pakalpojuma saņēmējs: <strong>{{ order['customer_name'] }}</strong>
      </div>
      <div class="col border border-dark">
        Reg. nr.: <strong>{{ orderdata['customer_reg_number'] }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        Addrese: <strong>{{ orderdata['customer_address'] }}</strong>
      </div>

    </div>
    <div class="row">
      <div class="col border border-dark">
        Pakalpojuma saņemšanas vieta: <strong>Liepājas iela 5 Ludza</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        Apmaksas veids un kārtība: <strong>{{ orderdata['pay_option'] }}</strong>
      </div>
      <div class="col border border-dark">
        Auto: <strong>{{ order['brand'] }} - {{ order['number'] }}</strong>
      </div>
    </div>
    <hr>
    <h2>Detaļu saraksts</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Detaļas nosaukums</th>
          <th>Detaļas skaits</th>
          <th>Vienas vienības cena</th>
          <th>Pilnā cena</th>
        </tr>
      </thead>
      <tbody>
        {% for part in parts %}
        <tr>
          <td>{{ part['id'] }}</td>
          <td>{{ part['part_name'] }}</td>
          <td>{{ part['part_count'] }}</td>
          <td>{{ part['part_price'] }}</td>
          <td>{{ part['full_price'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="col border border-dark">
        Par detaļām kopā: <strong>{{ orderdata['full_part_price'] }} euro</strong>
      </div>
    </div>
    <hr>
    <h2>Daraba saraksts</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Darba veids</th>
          <th>Darba apraksts</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr>
          <td>{{ service['work_type'] }}</td>
          <td>{{ service['description'] }}</td>
          <td>{{ service['work_price'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="col border border-dark">
        Par detaļām kopā: <strong>{{ orderdata['full_service_price'] }} euro</strong>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col border border-dark">
        Pavisam apmaksai: <strong>{{ orderdata['full_price'] }} euro</strong> 
      </div>
      <div class="col border border-dark">
        Vardiem: <strong>{{ orderdata['price_in_words'] }}</strong>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col border border-dark">
        Izsniedza: <strong>{{ orderdata['order_prep_name'] }}</strong>
      </div>
      <div class="col border border-dark">
        Saņēma: <strong>{{ orderdata['order_get_name'] }}</strong>
      </div>
    </div>
  </div>
  <h3>Rēķins sagatavots elektronisķi, derīgs bez paraksta</h3>
</body>

</html>