<!doctype html>
<html lang="en">

<head>
  <title>PDF template</title>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='invoice.css') }}">-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    body {
      font-family: "Times New Roman", Times, serif;
      font-size: 0.68em;
    }
  </style>
</head>

<body>
  <div class="container-fluid ">
    <div class="row text-center justify-content-center">
      <div class="col">
        <strong>Rēķins Nr. {{ order['order_name'] }}</strong>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Izrakstīšanas datums: <strong>{{ today }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Pakalpojuma saņēmējs: <strong>{{ order['customer_name'] }}</strong>
      </div>
      <div class="col">
        <strong>{{ order['customer_number'] }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Addrese: <strong>{{ order['customer_street'] }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Norēķinu rekvizīti: <strong>{{ order['customer_bank_name'] }}</strong>
      </div>
      <div class="col">
        <strong>{{ order['customer_bank_acc'] }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Preču saņemšanas vieta: <strong>LIEPĀJAS IELA 5 LUDZA</strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Auto: <strong>{{ order['brand'] }} - {{ order['number'] }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Apmaksas veids un kārtība: <strong>{{ orderdata['pay_option'] }}</strong>
      </div>
    </div>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nosaukums</th>
          <th>Mērv.</th>
          <th>Daudzums</th>
          <th>Cena</th>
          <th>Summa</th>
        </tr>
      </thead>
      <tbody>
        {% for part in parts %}
        <tr>
          <td>{{ part['part_name'] }}</td>
          <td>gab.</td>
          <td>{{ part['part_count'] }}</td>
          <td>€ {{ "%.2f"|format(part['part_price']) }}</td>
          <td>€ {{ "%.2f"|format(part['full_price']|float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Nosaukums</th>
          <th>Mērv.</th>
          <th colspan="2">Daudzums</th>
          <th>Summa</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr>
          <td>{{ service['description'] }}</td>
          <td>st.</td>
          <td colspan="2">{{ service['spend_time'] }}</td>
          <td>€ {{ "%.2f"|format(service['work_price']|float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tbody style="background-color: rgb(158, 155, 155);">
        <tr>
          <td colspan="5"></td>
        </tr>
      </tbody>
      <tbody>
        <tr >
          <td colspan="2"> Kopā:</td>
          <td colspan="2"></td>
          <td>€ {{ "%.2f"|format(orderdata['full_price_no_tax']|float) }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2">Pievienotās vērtības nodoklis:</td>
          <td colspan="2">21%</td>
          <td>€ {{ "%.2f"|format(orderdata['full_tax']|float) }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="4">Pavisam apmaksai:</td>
          <td>Euro <strong>{{ "%.2f"|format(orderdata['full_price']|float) }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <p>Rēķins sagatavots elektronisķi, deerīgs bez paraksta un zīmoga, 
  saskaņā ar Latvijas Republikas Grāmatvedības likuma 11.p.8d.1p</p>
  <div class="row">
    <div class="col">
      Preču nosūtītājs: <strong>AUTOBOOST SIA</strong>
    </div>
    <div class="col">
      <strong>LV40203418867</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Adrese: <strong>Liepājas iela 5 Ludza</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Norēķinu rekvizīti: <strong>Citadele banka</strong>
    </div>
    <div class="col">
      Bankas konts: <strong>LV47PARX0027844410001</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Preču izsniegšanas vieta: <strong>Liepājas iela 5 Ludza</strong>
    </div>
  </div>
</body>

</html>