<!doctype html>
<html lang="en">

<head>
  <title>PDF template</title>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='invoice.css') }}">-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> 
  <style>
    body {
      font-family:  "Gill Sans", sans-serif;
      font-size: 0.68em;
      margin: 0 auto;
    }
    .p-style {
      margin: 0;
      padding: 0;
    }
    .col-margin {
      margin: 5px;
    }
    .border-footer {
      border-radius: 5px;
      border: 1px solid black;
      padding: 10px; 
    }
  </style>
</head>

<body>
  <div class="container-fluid ">
    <div class="row text-center justify-content-center">
      <div class="col">
        <strong>Rēķins Nr. {{ order['order_name'] }}</strong>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-margin">
        Izrakstīšanas datums: <strong>{{ today }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col border-footer col-margin">
        <p class="p-style" >Pakalpojuma saņēmējs: <strong>{{ order['customer_name'] }}</strong></p>
        <p class="p-style" >Addrese: <strong>{{ order['customer_street'] }}</strong></p>
        <p class="p-style" >Preču saņemšanas vieta: <strong>LIEPĀJAS IELA 5 LUDZA</strong></p>
        <p class="p-style" >Auto: <strong>{{ order['brand'] }} - {{ order['number'] }}</strong></p>
      </div>
      <div class="col border-footer col-margin">
        <h4 class="p-style"><strong>Norēķinu rekvizīti:</strong></h4>
        <p class="p-style" >{{ order['customer_bank_name'] }}</p>
        <p class="p-style" >{{ order['customer_bank_acc'] }}</p>
        <p class="p-style" >{{ order['customer_number'] }}</p>
        <p class="p-style" >Apmaksas veids un kārtība: <strong>{{ orderdata['pay_option'] }}</strong></p>
      </div>
    </div>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nosaukums</th>
          <th>Mērv.</th>
          <th>Daudzums</th>
          <th>Cena</th>
          <th>Summa</th>
        </tr>
      </thead>
      <tbody>
        {% for part in parts %}
        <tr>
          <td>{{ part['part_name'] }}</td>
          <td>gab.</td>
          {% if (part['part_count']|string).count('.0') == 1 %}
            <td>{{ "%d"|format(part['part_count']) }}</td>
          {% else %}
            <td>{{ "%.2f"|format(part['part_count']) }}</td>
          {% endif %}
          <td>€ {{ "%.2f"|format(part['part_price']) }}</td>
          <td>€ {{ "%.2f"|format(part['full_price']|float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Nosaukums</th>
          <th>Mērv.</th>
          <th colspan="2">Daudzums</th>
          <th>Summa</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr>
          <td>{{ service['description'] }}</td>
          <td>st.</td>
          <td colspan="2">{{ service['spend_time'] }}</td>
          <td>€ {{ "%.2f"|format(service['work_price']|float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tbody style="background-color: rgb(158, 155, 155);">
        <tr>
          <td colspan="5"></td>
        </tr>
      </tbody>
      <tbody>
        <tr >
          <td colspan="2"> Kopā:</td>
          <td colspan="2"></td>
          <td>€ {{ "%.2f"|format(orderdata['full_price_no_tax']|float) }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2">Pievienotās vērtības nodoklis:</td>
          <td colspan="2">21%</td>
          <td>€ {{ "%.2f"|format(orderdata['full_tax']|float) }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="4">Pavisam apmaksai:</td>
          <td>Euro <strong>{{ "%.2f"|format(orderdata['full_price']|float) }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <p>Rēķins sagatavots elektronisķi, deerīgs bez paraksta un zīmoga, 
  saskaņā ar Latvijas Republikas Grāmatvedības likuma 11.p.8d.1p</p>
  <div class="row border-footer">
    <div class="col">
      <h4 class="p-style"><strong>Adrese:</strong></h4>
      <p class="p-style">AUTOBOOST SIA</p>
      <p class="p-style">Liepājas iela 5</p>
      <p class="p-style">LV-5701 Ludza</p>
      <p class="p-style">Latvia</p>
    </div>
    <div class="col">
      <h4 class="p-style"><strong>Tālrunis:</strong></h4>
      <p class="p-style">+371 27015660</p>
      <h4 class="p-style"><strong>Mājas lapa:</strong></h4>
      <p class="p-style">https://autoboost.lv/</p>
    </div>
    <div class="col">
      <h4 class="p-style"><strong>Reģistrācijas Nr.:</strong></h4>
      <p class="p-style">40203418867</p>
      <h4 class="p-style"><strong>PVN Nr:</strong></h4>
      <p class="p-style">LV40203418867</p>
    </div>
    <div class="col">
      <h4 class="p-style"><strong>Banka:</strong></h4>
      <p class="p-style">Citadele banka</p>
      <h4 class="p-style"><strong>IBAN:</strong></h4>
      <p class="p-style">LV47PARX0027844410001</p>
      <h4 class="p-style"><strong>SWIFT:</strong></h4>
      <p class="p-style">PARXLV22</p>
    </div>
  </div>
</body>

</html>